<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Ankieta</title>
    <script>
      function createAgeOpt() {
        var ageOpt = "<option selected disabled value=''>...</option>";
        for (var i=18; i<100; i++) {
          ageOpt += "<option value='"+i+"'>"+i+"</option>"
        }
        document.getElementById('validationCustom01').innerHTML = ageOpt;
      }    
    </script>
  </head>
  <body onload="createAgeOpt()" class="bg">
    <nav class="navbar navbar-expand-sm navbar-dark"> <!--Navbar-->
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><h3 style="color:white">Ocena korzyści i zagrożeń z wykorzystania dronów dla celów ekologicznych</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="col-3 pt-5 position-absolute start-0" id="formularz">
      <h3 style="color:white">Ankieta dotycząca tego co w tytule ;)</h3>
      <form method="POST" class="needs-validation" action="/" novalidate>
        <div class="col-8 form-floating" id="floater"> <!--Status select-->
          <select class="form-select" id="validationCustom" name="status" required>
            <option selected disabled value="">...</option>
            <option>Uczeń</option>
            <option>Student</option>
            <option>Pracownik etatowy</option>
            <option>Emeryt</option>
          </select>
          <label for="validationCustom">Status:</label>
          <div class="invalid-feedback">
            Wybierz status.
          </div>
        </div>
        <div class="col-8 mt-3 form-floating"> <!--Age select-->
            <select class="form-select overflow-auto" id="validationCustom01" name="age" required>
            </select>
            <label for="validationCustom01">Wiek:</label>
            <div class="invalid-feedback">
              Wybierz wiek.
            </div>
        </div>
        <div class="col-8 form-floating" id="floater"> <!--Sex select-->
          <select class="form-select" id="validationCustom02" name="sex" required>
            <option selected disabled value="">...</option>
            <option value="M">Mężczyzna</option>
            <option value="F">Kobieta</option>
          </select>
          <label for="validationCustom02" class="form-label">Płeć:</label>
          <div class="invalid-feedback">
            Wybierz płeć.
          </div>
        </div>
        <div class="col-8 form-floating" id="floater"> <!--Place select-->
            <select class="form-select overflow-auto" id="validationCustom03" name="place" required>
              <option selected disabled value="">...</option>
              <option>Wieś</option>
              <option>Miasteczko - poniżej 30 tys. mieszkańców</option>
              <option>Małe miasto - między 30 tys. a 100 tys. mieszkańców</option>
              <option>Miasto - między 100 tys. a 250 tys. mieszkańców</option>
              <option>Duże miasto - powyżej 250 tys. mieszkańców</option>
            </select>
            <label for="validationCustom03" class="form-label">Miejsce zamieszkania:</label>
            <div class="invalid-feedback">
              Wybierz miejsce zamieszkania.
            </div>
        </div>
        <div class="col-8" id="floater"> <!--Job select-->
            <input class="form-control p-3" id="validationCustom04 exampleInput" type="text" placeholder="Zawód: (w razie braku wpisz 'brak')" name="job" required>
            <div class="invalid-feedback">
              Wpisz swój zawód.
            </div>
        </div>
        <div class="pt-3 me-3">
            <button type="submit" class="btn btn-primary col-7">Prześlij</button>
        </div>
      </form>
    </div> 
    <script>
      (function () {
        'use strict'
        
        var forms = document.querySelectorAll('.needs-validation')
        
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
    
              form.classList.add('was-validated')
            }, false)
          })
      })()
    </script>
  </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <style>
    html,body {
      height:100%; 
      background-image: url("static/csr.jpg");
      height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .navbar-brand {
      margin-left: 1.7%;
    }

    .btn-primary {
        margin-top: 20px;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    h3, label {
      color: black;
    }

    #formularz {
      margin-left: 12.9%;
    }

    #floater {
      margin-top: 1.5rem;
    }
  </style>
</html>