<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
    <title>Ankieta</title>
  </head>
  <body class="bg">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Ocena korzyści i zagrożeń z wykorzystania dronów dla celów ekologicznych</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </nav>
    <div id="pollTitle">
        <h3>Ankieta dotycząca tego co w tytule ;)</h3>
    </div>
    <div id="pollTitle">
        <h4 style="margin-left:8%"><i>15 pytań</i></h4>
    </div>
    <div id="myCarousel" class="carousel slide" data-bs-interval="10000000000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="7"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="8"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="9"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="10"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="11"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="12"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="13"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="14"></button>
        </div>
        <div class="carousel-inner"> <!--Questions-->
          <form class="needs-validation" method="POST" action="/poll" novalidate>
          <div class="carousel-item active">
            <p><i>1. Czy jest dla Ciebie ważna ochrona środowiska?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio1 invalidCheck" name="optradio1" value="option1" required>
                <label class="form-check-label" for="radio1 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio2" name="optradio1" value="option2">
                <label class="form-check-label" for="radio2">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio3" name="optradio1" value="option3">
                <label class="form-check-label" for="radio3">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio4" name="optradio1" value="option4">
                <label class="form-check-label" for="radio4">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio5" name="optradio1" value="option5">
                <label class="form-check-label" for="radio5">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>2. Czy wiedziałeś, że coraz częściej sięga się po drony w ochronie środowiska?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio21 invalidCheck" name="optradio2" value="option1" required>
                <label class="form-check-label" for="radio21 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio22" name="optradio2" value="option2">
                <label class="form-check-label" for="radio22">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio23" name="optradio2" value="option3">
                <label class="form-check-label" for="radio23">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio24" name="optradio2" value="option4">
                <label class="form-check-label" for="radio24">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio25" name="optradio2" value="option5">
                <label class="form-check-label" for="radio25">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>3. Czy wiedziałeś, że drony znajdują coraz powszechniejsze użycie w codziennym życiu,<br>np. przesyłki kurierskie, policyjne?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio31 invalidCheck" name="optradio3" value="option1" required>
                <label class="form-check-label" for="radio31 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio32" name="optradio3" value="option2">
                <label class="form-check-label" for="radio32">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio33" name="optradio3" value="option3">
                <label class="form-check-label" for="radio33">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio34" name="optradio3" value="option4">
                <label class="form-check-label" for="radio34">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio35" name="optradio3" value="option5">
                <label class="form-check-label" for="radio35">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>4. Czy kiedykolwiek miałeś styczność z wykorzystaniem dronów jak w poprzednich pytaniach?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio41 invalidCheck" name="optradio4" value="option1" required>
                <label class="form-check-label" for="radio41 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio42" name="optradio4" value="option2">
                <label class="form-check-label" for="radio42">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio43" name="optradio4" value="option3">
                <label class="form-check-label" for="radio43">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio44" name="optradio4" value="option4">
                <label class="form-check-label" for="radio44">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio45" name="optradio4" value="option5">
                <label class="form-check-label" for="radio45">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>5. Czy uważasz, że rozpowszechnienie dronów może stworzyć zagrożenia, które obecnie<br>nie występują?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio51 invalidCheck" name="optradio5" value="option1" required>
                <label class="form-check-label" for="radio51 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio52" name="optradio5" value="option2">
                <label class="form-check-label" for="radio52">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio53" name="optradio5" value="option3">
                <label class="form-check-label" for="radio53">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio54" name="optradio5" value="option4">
                <label class="form-check-label" for="radio54">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio55" name="optradio5" value="option5">
                <label class="form-check-label" for="radio55">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>6. Czy uważasz, że drony powinny być używane do sztucznego kształtowania<br>systemów biologicznych?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio61 invalidCheck" name="optradio6" value="option1" required>
                <label class="form-check-label" for="radio61 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio62" name="optradio6" value="option2">
                <label class="form-check-label" for="radio62">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio63" name="optradio6" value="option3">
                <label class="form-check-label" for="radio63">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio64" name="optradio6" value="option4">
                <label class="form-check-label" for="radio64">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio65" name="optradio6" value="option5">
                <label class="form-check-label" for="radio65">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>7. Czy uważasz, że wykorzystanie dronów w eksplorowaniu ciężko dostępnych miejsc, może mieć<br>negatywny wpływ na tamtejsze środowisko?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio71 invalidCheck" name="optradio7" value="option1" required>
                <label class="form-check-label" for="radio71 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio72" name="optradio7" value="option2">
                <label class="form-check-label" for="radio72">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio73" name="optradio7" value="option3">
                <label class="form-check-label" for="radio73">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio74" name="optradio7" value="option4">
                <label class="form-check-label" for="radio74">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio75" name="optradio7" value="option5">
                <label class="form-check-label" for="radio75">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>8. Czy uważasz, że drony mogą stanowić zagrożenie dla dzikich zwierząt?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio81 invalidCheck" name="optradio8" value="option1" required>
                <label class="form-check-label" for="radio81 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio82" name="optradio8" value="option2">
                <label class="form-check-label" for="radio82">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio83" name="optradio8" value="option3">
                <label class="form-check-label" for="radio83">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio84" name="optradio8" value="option4">
                <label class="form-check-label" for="radio84">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio85" name="optradio8" value="option5">
                <label class="form-check-label" for="radio85">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>9. Czy uważasz, że wykorzystanie dronów w monitorowaniu pól rolniczych, lasów oraz nabrzeży<br>może budzić dyskomfort u osób przebywających na wymienionych terenach?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio91 invalidCheck" name="optradio9" value="option1" required>
                <label class="form-check-label" for="radio91 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio92" name="optradio9" value="option2">
                <label class="form-check-label" for="radio92">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio93" name="optradio9" value="option3">
                <label class="form-check-label" for="radio93">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio94" name="optradio9" value="option4">
                <label class="form-check-label" for="radio94">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio95" name="optradio9" value="option5">
                <label class="form-check-label" for="radio95">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>10. Czy uważasz, że drony są tańszym rozwiązaniem niż obecnie używane środki<br>w ochronie środowiska?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio101 invalidCheck" name="optradio10" value="option1" required>
                <label class="form-check-label" for="radio101 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio102" name="optradio10" value="option2">
                <label class="form-check-label" for="radio102">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio103" name="optradio10" value="option3">
                <label class="form-check-label" for="radio103">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio104" name="optradio10" value="option4">
                <label class="form-check-label" for="radio104">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio105" name="optradio10" value="option5">
                <label class="form-check-label" for="radio105">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>11. Czy uważasz, że drony w ochronie środowiska powinny być eksploatowane<br>przez prywatne instytucje?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio111 invalidCheck" name="optradio11" value="option1" required>
                <label class="form-check-label" for="radio111 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio112" name="optradio11" value="option2">
                <label class="form-check-label" for="radio112">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio113" name="optradio11" value="option3">
                <label class="form-check-label" for="radio113">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio114" name="optradio11" value="option4">
                <label class="form-check-label" for="radio114">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio115" name="optradio11" value="option5">
                <label class="form-check-label" for="radio115">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>12. Czy uważasz, że wykorzystanie dronów w ochronie środowiska powinno zostać<br>dofinansowane przez państwo?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio121 invalidCheck" name="optradio12" value="option1" required>
                <label class="form-check-label" for="radio121 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio122" name="optradio12" value="option2">
                <label class="form-check-label" for="radio122">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio123" name="optradio12" value="option3">
                <label class="form-check-label" for="radio123">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio124" name="optradio12" value="option4">
                <label class="form-check-label" for="radio124">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio125" name="optradio12" value="option5">
                <label class="form-check-label" for="radio125">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>13. Czy uważasz, że powinno się zwiększyć wykorzystanie dronów w ochronie<br>środowiska oraz monitorowaniu zagrożeń z tym związanych?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio131 invalidCheck" name="optradio13" value="option1" required>
                <label class="form-check-label" for="radio131 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio132" name="optradio13" value="option2">
                <label class="form-check-label" for="radio132">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio133" name="optradio13" value="option3">
                <label class="form-check-label" for="radio133">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio134" name="optradio13" value="option4">
                <label class="form-check-label" for="radio134">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio135" name="optradio13" value="option5">
                <label class="form-check-label" for="radio135">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>14. Czy uważasz, że wykorzystanie dronów przynosi więcej korzyści niż zagrożeń?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio141 invalidCheck" name="optradio14" value="option1" required>
                <label class="form-check-label" for="radio141 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio142" name="optradio14" value="option2">
                <label class="form-check-label" for="radio142">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio143" name="optradio14" value="option3">
                <label class="form-check-label" for="radio143">c) {{idk}}</label>
            </div>    
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio144" name="optradio14" value="option4">
                <label class="form-check-label" for="radio144">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio145" name="optradio14" value="option5">
                <label class="form-check-label" for="radio145">e) {{dno}}</label>
            </div>
          </div>
          <div class="carousel-item">
            <p><i>15. Czy uważasz, że używanie dronów w ochronie środowiska jest przyszłościowe?</i></p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio151 invalidCheck" name="optradio15" value="option1" required>
                <label class="form-check-label" for="radio151 invalidCheck">a) {{dyes}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio152 invalidCheck" name="optradio15" value="option2">
                <label class="form-check-label" for="radio152">b) {{myes}}</label>
            </div>  
            <div class="form-check"> 
                <input type="radio" class="form-check-input" id="radio153" name="optradio15" value="option3">
                <label class="form-check-label" for="radio153">c) {{idk}}</label>
            </div>    
            <div class="form-check">           
                <input type="radio" class="form-check-input" id="radio154" name="optradio15" value="option4">
                <label class="form-check-label" for="radio154">d) {{mno}}</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio155" name="optradio15" value="option5">
                <label class="form-check-label" for="radio155">e) {{dno}}</label>
            </div>
            <div class="d-grid gap-2 col-2" id="btm">
                <button type="submit" class="btn btn-primary btn-success btn-lg">Wyślij</button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
  <script>
      (function () {
        'use strict'
        
        var forms = document.querySelectorAll('.needs-validation')
        
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
    
              form.classList.add('was-validated')
            }, false)
          })
      })()
  </script>
  <style>
    html, body {
        color:white;
        margin:0;
        height: 100%;
        overflow: hidden;
    }

    h3 {
        font-family: Merriweather, serif;
    }

    label {
        margin-bottom: 0.75%;
    }

    .bg {
        background-image: url("static/csr.jpg");
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar-brand {
        font-family: Merriweather, serif;
        font-weight: bold;
        font-size: 29px;
        margin-left: 1%;
    }

    .carousel {
        top: 2%;
        left: 0;
        min-width: 100%;
        height: 450px;
        max-height: 450px;
        width: auto;
    }

    #myCarousel {
        background-color: rgba(255,255,255,0.5);
    }

    .carousel-item {
        color:black;
        font-family: "Open Sans", sans-serif;
        margin-top: 4.5%;
        left: 13.4%;
    }
      
    #pollTitle {
        margin-top:3%;
        margin-left: 10%;
    }

    #btm {
        margin-top: 1%;
        margin-left: 26.5%;
        margin-bottom: 2%;
    }
  </style>
</html>